<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vue JS Demo</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="shortcut icon" type="image/png" href="favicon.png"/>
  </head>
  <body>

    <div class="content" id="app">

      <div class="header" id="header">
        <h1>Vue JS Demo</h1>
        <ul v-cloak>
          <li v-for="topic in sidebarTopics"><a :href="topic.id">{{ topic.topic }}</a></li>
          <li><a href="https://github.com/torihedden/VueJS-DevDemo">Source Code</a></li>
        </ul>
      </div>

      <h2 id="expression">Expression Evaluation</h2>

      <div id="welcome" v-cloak>
        <p>{{ contents }}</p>
      </div>

      <h2 id="arrays">Rendering Arrays</h2>
      <ul id="meeting-agenda" v-cloak>
        <strong>Team Meeting Agenda</strong>
        <li v-for="item in items">
          <input type="checkbox" :name="item.contents" :id="item.contents" value="">
          <label :for="item.contents">{{ item.contents }}</label>
        </li>
      </ul>

      <h2 id="conditional">Conditional Rendering</h2>
      <div id="meeting-announcement" v-cloak>
        <div class="">
          <input type="checkbox" name="" value="" v-on:click="usualMeetingTime = !usualMeetingTime"> Click to toggle meeting time
        </div>
        <div v-if="usualMeetingTime">
          Our meeting next week is on Tuesday.
        </div>
        <div v-else>
          Our meeting next week is on a different day.
        </div>
      </div>
      <!-- there is also a v-else-if directive -->

      <h2 id="event">Event Handling</h2>
      <div id="interactive-element" v-cloak>
        {{ developerName }}
        <button type="button" name="button" v-on:click="addTitle">Click to Add Title</button>
      </div>

      <h2 id="vueLifecycle">Vue Lifecycle Diagram</h2>
      <div id="lifecycle">
        <img v-bind:src="imageSrc" alt="diagram of Vue lifecycle">
      </div>

      <h2 id="resources">Resources</h2>
      <div class="">
        <p><a href="https://vuejs.org/v2/guide/">VueJS Documentation</a></p>
        <p><a href="https://vuejs.org/v2/guide/comparison.html">Comparison with other Frameworks</p></a>
        <p><a href="https://vuejs.org/v2/guide/comparison.html#Scale">Learning React vs Learning Vue</a></p>
      </div>

    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="script.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="scroll.js"></script>
  </body>
</html>
